n8n/new_lead_response.json
{
  "name": "New Lead Response",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true
      },
      "id": "node-01",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "2SUyYfLQDh5W9Nu6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const d = item.json;\n  const rawFrom = String(d.from || '');\n  let senderEmail = rawFrom;\n  let senderName = rawFrom;\n  const emailMatch = rawFrom.match(/<([^>]+)>/);\n  if (emailMatch) {\n    senderEmail = emailMatch[1].trim();\n    const namePart = rawFrom.replace(/<[^>]+>/, '').trim().replace(/^\"|\"$/g, '');\n    senderName = namePart || senderEmail;\n  } else {\n    const bareEmail = rawFrom.match(/[\\w.+-]+@[\\w.-]+/);\n    if (bareEmail) senderEmail = bareEmail[0];\n    senderName = senderEmail;\n  }\n  const subject = String(d.subject || '');\n  const body = String(d.text || d.snippet || '');\n  const receivedAt = String(d.date || new Date().toISOString());\n  const gmailMessageId = String(d.id || '');\n  const gmailThreadId = String(d.threadId || '');\n  results.push({ json: { senderEmail, senderName, subject, body, receivedAt, gmailMessageId, gmailThreadId } });\n}\nreturn results;"
      },
      "id": "node-02",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.senderEmail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-03",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_type: 'VALIDATION_FAILURE', notes: 'Missing required fields: senderEmail, subject, or body', created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-04",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_source_data?source_id=eq.{{ $json.gmailMessageId }}&select=id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-05",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ Array.isArray($json) ? $json.length : ($json.id ? 1 : 0) }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-06",
      "name": "Is Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {},
      "id": "node-06b",
      "name": "Stop Duplicate",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: null, task_type: 'NEW_LEAD_RESPONSE', status: 'NEW', priority: 'HIGH', ai_draft: null, assigned_va: null, due_at: null, created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-07",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_source_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $('Create Task').first().json.id, source_type: 'GMAIL', source_id: $('Extract Fields').first().json.gmailMessageId, raw_data: $('Extract Fields').first().json, created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-08",
      "name": "Store Source Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, system: 'You are a professional assistant for a small service business. Your job is to draft a brief, warm, professional first-touch reply to an inbound lead email. Acknowledge their inquiry, confirm they reached the right place, and tell them someone will follow up shortly to discuss their needs. Do not include pricing, scheduling, or technical diagnosis. Do not make promises you cannot keep. Sign off with the business name only. Return only the email body text, no subject line, no metadata.', messages: [{ role: 'user', content: 'Draft a reply to this inbound lead email.\\n\\nFrom: ' + $('Extract Fields').first().json.senderName + '\\nSubject: ' + $('Extract Fields').first().json.subject + '\\nMessage:\\n' + $('Extract Fields').first().json.body }] }) }}",
        "options": {}
      },
      "id": "node-09",
      "name": "AI Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mS9dRkmTf9MyOntB",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst taskId = $('Create Task').first().json.id;\nlet aiDraft = null;\ntry {\n  const text = item.json?.content?.[0]?.text;\n  if (text && typeof text === 'string' && text.trim().length > 0) {\n    aiDraft = text.trim();\n  }\n} catch (e) {\n  aiDraft = null;\n}\nreturn [{ json: { taskId, aiDraft } }];"
      },
      "id": "node-10",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $json.aiDraft }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "d2",
              "leftValue": "={{ ($json.aiDraft || '').length }}",
              "rightValue": "20",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-11",
      "name": "IF Draft Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/tasks?id=eq.{{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'READY_FOR_REVIEW', ai_draft: $json.aiDraft, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-12",
      "name": "Update Task READY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $('Parse AI Response').first().json.taskId, event_type: 'DRAFT_READY', notes: 'AI draft generated successfully', created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-13",
      "name": "Log Success Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/tasks?id=eq.{{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'EXCEPTION', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-14",
      "name": "Update Task EXCEPTION",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        550
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $('Parse AI Response').first().json.taskId, event_type: 'EXCEPTION', notes: 'LOW_CONFIDENCE_DRAFT: AI draft was empty or too short', created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-15",
      "name": "Log Exception Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        550
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ylbbxspfdnrcundlxqem.supabase.co/rest/v1/task_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event_type: 'SYSTEM_ERROR', notes: String($json.error?.message || $json.message || 'Unknown system error'), created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-err",
      "name": "Log System Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        750
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4oUHhNyDVXfmtBdV",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate": {
      "main": [
        [
          {
            "node": "Stop Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Store Source Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Source Data": {
      "main": [
        [
          {
            "node": "AI Draft Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Draft Reply": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "IF Draft Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Draft Valid": {
      "main": [
        [
          {
            "node": "Update Task READY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Task EXCEPTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task READY": {
      "main": [
        [
          {
            "node": "Log Success Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task EXCEPTION": {
      "main": [
        [
          {
            "node": "Log Exception Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log System Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "abscondata"
    },
    {
      "name": "v1"
    },
    {
      "name": "lead-response"
    }
  ],
  "pinData": {}
}